@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    --daniel-clifford: #733FC7;
    --jonathan-walters: #49556A;
    --kira-whittle: #FFFFFF;
    --patrick-abrams: #1A212F;

    --fonte-pattern: sans-serif;
    --fonte-main: 'Barlow Semi Condensed', sans-serif;
    ;
}

body,
html {
    width: 100vw;
    height: 100vh;
    font-size: 12px;
    text-align: left;
    box-sizing: border-box;
    overflow-x: hidden;
}

main.principal-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ECF2F7;
}

/* Opening */
aside#daniel {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px;
    line-height: 1.2;
    
}

img {
    border: 3px solid #8559BA;
    border-radius: 50%;
}

.div-daniel-clifford h4 {
    color: white;

}

.div-daniel-clifford span {
    color: #a273f3;
    opacity: 100%;
}


.texth3-daniel-clifford {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 235px;
    margin: 20px;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    line-height: 25px;
}

.p-daniel-clifford {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 235px;
    margin: 20px;
    height: 200px;
    text-align: left;
    color: #a273f3;
    opacity: 100%;
    font-family: var(--fonte-main);
}

.daniel-clifford {
    background: var(--daniel-clifford);
    width: 300px;
    height: 490px;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    font-family: var(--fonte-main);
    line-height: 20px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.288);
}

/*  Closing  */

/* Opening  */


aside#jonathan-walters {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px;
    line-height: 1.2;
}

.jonathan-walters {
    background: var(--jonathan-walters);
    width: 300px;
    height: 220px;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.288);
}

.div-jonathan-walters h4 {
    color: white;
}

.div-jonathan-walters span {
    color: #7588a8;
    opacity: 100%;
}

.text3-jonathan-walters {
    display: flex;
    align-items: center;
    width: 235px;
    margin: 20px;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    line-height: 25px;
    font-family: var(--fonte-main);
}

.p-jonathan-walters {
    display: flex;
    align-items: center;
    color: #acc1e6;
    ;
    width: 274px;
    margin: 20px;
    opacity: 100%;
    font-family: var(--fonte-main);
}

/*  Closing  */

/* Opening  */

.jeanette-harmon {
    background: var(--kira-whittle);
    width: 78%;
    height: 200px;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.288);
}

aside#janette-harmon {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px;
    line-height: 1.2;
}

.div-jeanette-harmon h4 {
    color: #78797F;
}

.div-jeanette-harmon span {
    color: #a5a6ac;
    opacity: 100%;
}


.text3-jeanette-harmon {
    display: flex;
    align-items: center;
    width: 235px;
    margin: 20px;
    color: #78797F;
    font-size: 16px;
    line-height: 20px;
    font-family: var(--fonte-main);
}

.p-jeanette-harmon {
    display: flex;
    align-items: center;
    color: #acc1e6;
    width: 274px;
    margin: 20px;
    opacity: 100%;
    font-family: var(--fonte-main);
}

/*  Closing  */

/* Opening  */

aside#patrick-abrams {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px;
    line-height: 1.2;
    color: var(--kira-whittle);
}


.patrick-abrams {
    background: var(--patrick-abrams);
    width: 86%;
    height: 360px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.288);
}

.div-patrick-abrams h4 {
    color: var(--kira-whittle);
}

.div-patrick-abrams span {
    color: rgb(179, 179, 179);
    opacity: 100%;
}


.text3-patrick-abrams {
    display: flex;
    align-items: center;
    width: 235px;
    margin: 20px;
    color: var(--kira-whittle);
    font-size: 16px;
    line-height: 20px;
    font-family: var(--fonte-main);
}

.p-patrick-abrams {
    display: flex;
    align-items: center;
    color: rgb(158, 158, 158);
    width: 274px;
    margin: 20px;
    opacity: 100%;
    font-family: var(--fonte-main);
}


/* Closing */

/* Opening  */

aside#kira-whittle {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px;
    line-height: 1.2;
    color: #b5bec9;
}


.kira-whittle {
    background: var(--kira-whittle);
    width: 86%;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.288);
}

.div-kira-whittle h4 {
    color: #595c5f;
}

.div-kira-whittle span {
    color: #0f468a;
    opacity: 100%;
}


.text3-kira-whittle {
    display: flex;
    align-items: center;
    width: 235px;
    margin: 20px;
    color: #595c5f;
    font-size: 16px;
    line-height: 20px;
    font-family: var(--fonte-main);
}

.p-kira-whittle {
    display: flex;
    align-items: center;
    color: #9ea5ac;
    width: 274px;
    margin: 20px;
    opacity: 100%;
    font-family: var(--fonte-main);
}
    /*  Closing  */